.skills {
   padding: 100px 0 ;
   width: calc(100% - (70px*2));
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
}

.skills-tag {
   width: max-content;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: start;
   border-radius: 16px;
   background-color: rgba(123, 74, 226, 0.10);
   padding: 0 40px;
   color: #7B4AE2;
   font-family: Raleway;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   fill: rgba(123, 74, 226, 0.10);
   margin: 10px;
   cursor: pointer;
   transition: all 250ms ease-out;

}

.skills-tag:hover {
   padding: 0 30px;
}

.skills-img {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.skills-img > svg {
   margin: 10px;
   transition: all 450ms ease-out;
}

.skills-img > svg:hover {
   margin: 5px;
   width: 50px;
}


@media screen and (max-width: 600px) {
   .skills-img {
      flex-direction: column;
   }
}